html,body
{
    height: 100%;
    background: #f0f0f0;
}
a{
  text-decoration:none;
}
.sh-header1{
  background-color:white;
}
.sh-header1 input{
  font-size:0.32rem;
  margin-top:0.133333rem;
  margin-bottom:0.133333rem;
  border-radius:5%;
  margin-left:0.266667rem;
  width: calc(80% - 0.72rem);
  outline:none;
  border: none;
  height:0.746667rem;
  line-height: 0.746667rem;
  background-color: #f1f1f1;
  background-image: url('../img/big@2x.png');
  background-repeat:no-repeat;
  background-size:0.4rem;
  background-position: 0.16rem center;
  padding-left: 0.72rem;
}
.sh-header1 button{
  margin-left:3%;
  text-align:center;
  font-size:0.4rem;
  background-color:#fff;
  width:10%;
  height:0.693333rem;
  border: none;
  margin-top: 0;
}

.sh-nav{
  margin-top:15px;
  height:1.2rem;
  background-color:#2a2a2a ;
}
.sh-nav ul li{
  float:left;
  width:20%;
  text-align:center;
  line-height:1.2rem;
}
.sh-nav ul li a{
  color:#fff;
}

.sh-one{
  background-image:url(../img/tc-29@2x.png);
  width:100%;
  background-repeat: no-repeat;
  border-bottom:none;
  background-size: contain;
  background-color: white;
}
.border-soo{
  border:10px solid #f0f0f0;
  border-bottom:none;
}
[data-dpr="2"] .border-soo{
  border:20px solid #f0f0f0;
  border-bottom:none;
}
[data-dpr="3"] .border-soo{
  border:30px solid #f0f0f0;
  border-bottom:none;
}
.border-tr{
  border-top:10px solid #f0f0f0;
}
[data-dpr="2"] .border-tr{
  border-top:20px solid #f0f0f0;
}
[data-dpr="3"] .border-tr{
  border-top:30px solid #f0f0f0;
}
.border-tl{
  border-left:10px solid #f0f0f0;
}
[data-dpr="2"] .border-tl{
  border-left:20px solid #f0f0f0;
}
[data-dpr="3"] .border-tl{
  border-left:30px solid #f0f0f0;
}
.border-trr{
  border-right:10px solid #f0f0f0;
}
[data-dpr="2"] .border-trr{
  border-right:20px solid #f0f0f0;
}
[data-dpr="3"] .border-trr{
  border-right:30px solid #f0f0f0;
}
.border-trrr-half{
  border-right:5px solid #f0f0f0;
}
[data-dpr="2"] .border-trrr-half{
  border-right:10px solid #f0f0f0;
}
[data-dpr="3"] .border-trrr-half{
  border-right:15px solid #f0f0f0;
}
.border-tlll-half{
  border-left:5px solid #f0f0f0;
}
[data-dpr="2"] .border-tlll-half{
  border-left:10px solid #f0f0f0;
}
[data-dpr="3"] .border-tlll-half{
  border-left:15px solid #f0f0f0;
}
table{
  width:100%;
  height:3.28rem;
}
td{
  padding-left: 1.173333rem;
  line-height:0.7rem ;
  vertical-align: middle;
}

td a{
  font-size:0.37333rem;
  color:#333;
}
th a{
  font-size:0.24rem;
  color:#999;
}
p{
  color:#999;
}

.sh-two{
  background-image:url(../img/1be1b62c4e01ea911807409a3da13b58@2x.png);
  width:100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}



.sh-j{
  background-image:url(../img/0564df06e80296e382f06fa71fcbae59@2x.png);
  float:left;
  background-repeat: no-repeat;
  width:50%;
  height:3.28rem;
  background-size: contain;
  background-color: white;
}
.sh-j td{
  padding-left: .4rem;
  line-height:0.7rem ;
}

.sh-t{
  background-image:url(../img/tc-30@2x.png);
  float:right;
  background-repeat: no-repeat;
  width:50%;
  height:3.28rem;
  background-color: white;
    background-size: contain;
}
.sh-t td{
  padding-left: .4rem;
  line-height:0.7rem;
}

.sh-s{
  background-image:url(../img/3e2c2ff573dacaeb7617aaa2827b457c@2x.png);
  float:left;
  background-repeat: no-repeat;
  width:50%;
  height:3.28rem;
  background-size: contain;
  background-color: white;
}
.sh-s td{
  padding-left: .4rem;
  line-height:0.7rem ;
}

.sh-a{
  background-image:url(../img/d6a8d58a07eca22b2a6f03fc330ba2be@2x.png);
  float:right;
  background-repeat: no-repeat;
  width:50%;
  height:3.28rem;
  background-size: contain;
  background-color: white;
}
.sh-a td{
  padding-left: .4rem;
  line-height:0.7rem ;
}
.adb span{
  position: relative;
}
.adb span::before{
  content:' ';
  position: absolute;
  bottom: -0.133333rem;
  left:0;
  width: 0.4rem;
  height: 0.053333rem;
  background-color: #000000;
}
