/*
* @Author: qqf
* @Date:   2017-07-19 15:38:56
* @Last Modified time: 2017-07-19 15:53:13
*/
#swiper-container {
    width: 100%;
    height: 9.333333rem;
}
.sh-choose-title{
    font-size: 16px;
    line-height: 20px;
    color: black;
    width: 92%;
    margin: 3% auto;
}
[data-dpr="2"] .sh-choose-title{
    font-size: 30px;
    line-height: 38px;
}
[data-dpr="3"] .sh-choose-title{
    font-size: 44px;
    line-height: 56px;
}
.sh-choose-money{
    width: 92%;
    margin: 0 auto;
}
.sh-choose-money i{
    font-size: 30px;
}
.choose-goods{
    width: 100%;
}

.clearfix {
	display:inline-block
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	line-height:0;
	clear:both;
	visibility:hidden
}
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5) {
	.border-1px::fater {
	-webkit-transform:scaleY(.7);
	transform:scaleY(.7)
}
}@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2) {
	.border-1px::fater {
	-webkit-transform:scaleY(1);
	transform:scaleY(1)
}
}@media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3) {
	.border-1px::fater {
	-webkit-transform:scaleY(1.5);
	transform:scaleY(1.5)
}
}.sh-choose-money span {
	font-size:22px;
	color:#fa0f0f
}
[data-dpr="2"] .sh-choose-money span {
	font-size:44px
}
[data-dpr="3"] .sh-choose-money span {
	font-size:66px
}
.sh-choose-money span i {
	font-size:14px;
	font-style:normal
}
[data-dpr="2"] .sh-choose-money span i {
	font-size:30px
}
[data-dpr="3"] .sh-choose-money span i {
	font-size:44px
}
.sh-choose-money font {
	font-size:14px;
	color:#999;
	text-decoration:line-through
}
[data-dpr="2"] .sh-choose-money font {
	font-size:30px
}
[data-dpr="3"] .sh-choose-money font {
	font-size:44px
}
.sh-shoper {
	color:#595858;
	height:40px;
	line-height:40px
}
[data-dpr="2"] .sh-shoper {
	height:80px;
	line-height:80px
}
[data-dpr="3"] .sh-shoper {
	height:120px;
	line-height:120px
}
.sh-btn-shop-lan {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	z-index:3
}
.sh-btn-shop-lan div {
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:14px;
	color:#666
}
[data-dpr="2"] .sh-btn-shop-lan div {
	height:90px;
	line-height:90px
}
[data-dpr="3"] .sh-btn-shop-lan div {
	height:135px;
	line-height:135px
}
[data-dpr="2"] .sh-btn-shop-lan div {
	font-size:30px
}
[data-dpr="3"] .sh-btn-shop-lan div {
	font-size:44px
}
.sh-btn-shop-lan div.rule {
	border-top:1px solid #f0f0f0;
	box-sizing:border-box;
	background-color:#fff
}
[data-dpr="2"] .sh-btn-shop-lan div.rule {
	border-top:2px solid #f0f0f0
}
[data-dpr="3"] .sh-btn-shop-lan div.rule {
	border-top:3px solid #f0f0f0
}
.sh-btn-shop-lan div.rule img {
	transition:all .2s ease
}
.sh-btn-shop-lan div.rule img.up {
	-webkit-transform:rotate(180deg)
}
.sh-btn-shop-lan div.yellow {
	color:#fde203;
	background-color:#2a2a2a
}
.sh-btn-shop-lan div.bgyellow {
	background-color:#fde203
}
.sh-btn-shop-lan div img {
	display:inline-block;
	vertical-align:middle;
	width:12px;
	margin:0 0 1px 10px
}
[data-dpr="2"] .sh-btn-shop-lan div img {
	width:24px
}
[data-dpr="3"] .sh-btn-shop-lan div img {
	width:36px
}
[data-dpr="2"] .sh-btn-shop-lan div img {
	margin:0 0 2px 20px
}
[data-dpr="3"] .sh-btn-shop-lan div img {
	margin:0 0 3px 30px
}
.sh-detial-det {
	height:43px;
	line-height:43px;
	width:100%;
	color:#666;
	font-size:12px
}
[data-dpr="2"] .sh-detial-det {
	height:86px;
	line-height:86px
}
[data-dpr="3"] .sh-detial-det {
	height:129px;
	line-height:129px
}
[data-dpr="2"] .sh-detial-det {
	font-size:24px
}
[data-dpr="3"] .sh-detial-det {
	font-size:36px
}
.sh-detial-det .left {
	float:left;
	width:50%
}
.sh-detial-det .left span {
	display:inline-block;
	float:right;
	box-sizing:border-box;
	margin:0 26px 0 0
}
[data-dpr="2"] .sh-detial-det .left span {
	margin:0 52px 0 0
}
[data-dpr="3"] .sh-detial-det .left span {
	margin:0 78px 0 0
}
.sh-detial-det .right {
	float:right;
	width:50%
}
.sh-detial-det .right span {
	display:inline-block;
	float:left;
	box-sizing:border-box;
	margin:0 0 0 26px
}
[data-dpr="2"] .sh-detial-det .right span {
	margin:0 0 0 52px
}
[data-dpr="3"] .sh-detial-det .right span {
	margin:0 0 0 78px
}
.sh-detial-det.active {
	border-bottom:3px solid #fde203
}
[data-dpr="2"] .sh-detial-det.active {
	border-bottom:6px solid #fde203
}
[data-dpr="3"] .sh-detial-det.active {
	border-bottom:9px solid #fde203
}
.sh-detial-picture {
	clear:both;
	width:100%;
	margin:10px 0 0
}
[data-dpr="2"] .sh-detial-picture {
	margin:20px 0 0
}
[data-dpr="3"] .sh-detial-picture {
	margin:30px 0 0
}
.sh-detial-picture img {
	width:100%
}
.sh-detial-choose {
	height:360px;
	background-color:#fff;
	position:fixed;
	bottom:-360px;
	width:92%;
	padding:0 4%;
	z-index:2;
	opacity:0;
	transition:all .4s ease-out
}
[data-dpr="2"] .sh-detial-choose {
	height:720px
}
[data-dpr="3"] .sh-detial-choose {
	height:1080px
}
[data-dpr="2"] .sh-detial-choose {
	bottom:-720px
}
[data-dpr="3"] .sh-detial-choose {
	bottom:-1080px
}
.sh-detial-choose .sh-detial-top {
	position:relative;
	height:66px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top {
	height:132px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top {
	height:198px
}
.sh-detial-choose .sh-detial-top .picture {
	width:100px;
	height:100px;
	margin:-44px 0 0 20px;
	float:left
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .picture {
	width:200px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .picture {
	width:300px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .picture {
	height:200px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .picture {
	height:300px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .picture {
	margin:-88px 0 0 40px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .picture {
	margin:-132px 0 0 60px
}
.sh-detial-choose .sh-detial-top .picture img {
	width:100%;
	height:100%;
	display:block;
	float:float
}
.sh-detial-choose .sh-detial-top .sh-detial-money {
	float:left;
	margin:15px 0 0 12px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .sh-detial-money {
	margin:30px 0 0 24px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .sh-detial-money {
	margin:45px 0 0 36px
}
.sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money font {
	color:#fa0f0f;
	font-size:22px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money font {
	font-size:44px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money font {
	font-size:66px
}
.sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money font span {
	font-size:14px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money font span {
	font-size:30px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money font span {
	font-size:44px
}
.sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money em {
	color:#999;
	font-size:12px;
	margin:0 0 0 11px;
	text-decoration:line-through
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money em {
	font-size:26px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money em {
	font-size:38px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money em {
	margin:0 0 0 22px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .sh-detial-money .sh-det-money em {
	margin:0 0 0 33px
}
.sh-detial-choose .sh-detial-top .sh-detial-ku {
	color:#595858;
	margin:7px 0 0;
	font-size:12px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .sh-detial-ku {
	margin:14px 0 0
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .sh-detial-ku {
	margin:21px 0 0
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .sh-detial-ku {
	font-size:24px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .sh-detial-ku {
	font-size:36px
}
.sh-detial-choose .sh-detial-top .detial-close {
	width:17px;
	height:17px;
	position:absolute;
	top:5.5px;
	right:-7px;
	background:url(../img/X@2x.png) no-repeat 50%;
	background-size:100% 100%
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .detial-close {
	width:34px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .detial-close {
	width:51px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .detial-close {
	height:34px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .detial-close {
	height:51px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .detial-close {
	top:11px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .detial-close {
	top:16.5px
}
[data-dpr="2"] .sh-detial-choose .sh-detial-top .detial-close {
	right:-14px
}
[data-dpr="3"] .sh-detial-choose .sh-detial-top .detial-close {
	right:-21px
}
.sh-detial-choose .choose-goods {
	min-height:197.5px;
	overflow-y:auto
}
[data-dpr="2"] .sh-detial-choose .choose-goods {
	min-height:395px
}
[data-dpr="3"] .sh-detial-choose .choose-goods {
	min-height:592.5px
}
.sh-detial-choose .choose-goods .sh-color-choose {
	overflow:hidden;
	padding:12px 0 16px 20px;
	border-bottom:1px solid #eee
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose {
	padding:24px 0 32px 40px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose {
	padding:36px 0 48px 60px
}
.sh-detial-choose .choose-goods .sh-color-choose .text {
	font-size:12px;
	color:#999
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .text {
	font-size:24px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .text {
	font-size:36px
}
.sh-detial-choose .choose-goods .sh-color-choose .colors-list {
	margin:8px 0 0;
	overflow:visible
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list {
	margin:16px 0 0
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list {
	margin:24px 0 0
}
.sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	float:left;
	width:50px;
	box-shadow:0 0 0 1px #dadada;
	height:20px;
	box-sizing:border-box;
	position:relative;
	text-align:center;
	line-height:20px;
	margin:0 0 4px;
	color:#999
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	width:100px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	width:150px
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	box-shadow:0 0 0 2px #dadada
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	box-shadow:0 0 0 3px #dadada
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	height:40px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	height:60px
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	line-height:40px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	line-height:60px
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	margin:0 0 8px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li {
	margin:0 0 12px
}
.sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li.choosed {
	box-shadow:0 0 0 1px #fde203
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li.choosed {
	box-shadow:0 0 0 2px #fde203
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li.choosed {
	box-shadow:0 0 0 3px #fde203
}
.sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li.choosed:before {
	content:" ";
	background-image:url(../img/allright.png);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-size:45%;
	background-repeat:no-repeat;
	background-position:50%
}
.sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li.rule-choosed {
	box-shadow:0 0 0 1px #fde203;
	color:#fde203
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li.rule-choosed {
	box-shadow:0 0 0 2px #fde203
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-color-choose .colors-list ul li.rule-choosed {
	box-shadow:0 0 0 3px #fde203
}
.sh-detial-choose .choose-goods .sh-detial-num {
	padding:12px 0 16px 20px
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num {
	padding:24px 0 32px 40px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num {
	padding:36px 0 48px 60px
}
.sh-detial-choose .choose-goods .sh-detial-num font {
	font-size:12px;
	color:#999
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num font {
	font-size:24px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num font {
	font-size:36px
}
.sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	margin:12.5px 0 0;
	width:110px;
	overflow:hidden;
	line-height:21px;
	border:1px solid #dadada
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	margin:25px 0 0
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	margin:37.5px 0 0
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	width:220px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	width:330px
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	line-height:42px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	line-height:63px
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	border:2px solid #dadada
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total {
	border:3px solid #dadada
}
.sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i {
	display:block;
	float:left;
	width:20px;
	font-size:20px;
	color:#999;
	text-align:center;
    height: 21px;
    line-height: 18px;
        
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i {
	width:40px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i {
	width:60px
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i {
	font-size:42px;
    height: 42px;
    line-height: 33px;
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i {
	font-size:62px;
    height: 62px;
    line-height: 50px;
}
.sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i:first-child {
	border-right:1px solid #dadada
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i:first-child {
	border-right:2px solid #dadada
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i:first-child {
	border-right:3px solid #dadada
}
.sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i:last-child {
	border-left:1px solid #dadada;
	float:right
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i:last-child {
	border-left:2px solid #dadada
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total i:last-child {
	border-left:3px solid #dadada
}
.sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total font {
	display:block;
	float:left;
	text-align:center;
	width:68px
}
[data-dpr="2"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total font {
	width:136px
}
[data-dpr="3"] .sh-detial-choose .choose-goods .sh-detial-num .sh-detial-total font {
	width:204px
}
.show-sh-detial-choose {
	bottom:0;
	opacity:1
}
[data-dpr="2"] .show-sh-detial-choose,[data-dpr="3"] .show-sh-detial-choose {
	bottom:0
}
.marks-detial {
	position:fixed;
	bottom:0;
	width:100%;
	height:100%;
	background-color:transparent;
	z-index:1;
	transition:all .4s ease
}
.show-marks-detial {
	background-color:rgba(0,0,0,.6)
}
