.sh-item-shoper{
    width: 92%;
    padding: 0 4%;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
}
[data-dpr="2"] .sh-item-shoper{
    height: 80px;
    line-height: 80px;
}
[data-dpr="3"] .sh-item-shoper{
    height: 120px;
    line-height: 120px;
}
.sh-item-shoper-name{
    float: left;
}
.sh-item-shop-status{
    float: right;
}
.sh-item-shoper span{
height:1.173333rem;
/*border-bottom:1px solid #f0f0f0;*/
line-height:1.173333rem;
background:url(../img/more@2x.png) no-repeat 96% center;
background-size:0.213333rem;
}
.sh-item-address{
    width: 92%;
    padding: 0 4%;
    min-height: 40px;
    line-height:0.5rem;
}
.yellow{
    color:#f7e40e;
    margin-right:4%;
    border:1px solid #fde203 !important;
}